
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/DOTNETGROUP/Views/Shared/_Layout.cshtml";
}
@section Header{
    Trang chủ
}
<div class="form-group">
    <p>Nội dung của trang chủ</p>
</div>
